.sidebar {
    background-color: #2d1b91;
    border-radius: 20px 0 0 20px;    
    display: flex;
    flex-direction: column;
    flex: 0.20;
    color: white;
}

.sidebar_header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sidebar_header > h4 {
    font-size: medium;
    font-weight: 800;
}

.sidebar_body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.sidebar_bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_bodyDetails {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    justify-content: space-around;
}

.details {
    display: flex;
    margin-bottom: 20px;
}

.details > span {
    padding-left: 10px;
}